
<html>
    <head>
    <title>Form test</title>
    <!--report-->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="/static/test_table.css" type="text/css" />
    <!-- component template -->
    <script type="text/x-template" id="grid-template">
        <table>
          <thead>
            <tr>
              <th v-for="key in columns"
                @click="sortBy(key)"
                :class="{ active: sortKey == key }">
                [[ key | capitalize ]]
                <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
                </span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="entry in filteredData">
              <td v-for="key in columns">
                [[entry[key]]]
              </td>
            </tr>
          </tbody>
        </table>
      </script>
      
    </head>
     
    <body>
    <h1>test</h1><hr>
         
    <!-- demo root element -->
    <div id="demo">
            <form id="search">
              Search <input name="query" v-model="searchQuery">
            </form>
            <demo-grid
              :data="gridData"
              :columns="gridColumns"
              :filter-key="searchQuery">
            </demo-grid>
            <li v-for="task in tasks">[[ task ]]</li>
    </div>

    </body>
    <script src="/static/test_table.js"></script>
    <script>      
    var data1 = {{ data1| safe }}
      // bootstrap the demo
      var demo = new Vue({
        el: '#demo',
        delimiters: ["[[", "]]"],
        data: {
          searchQuery: '',
          gridColumns: [
            '選手名',
            'チーム',
            '年俸(推定)',
            '試合',
            '打率',
            '打席数',
            '打数',
            '安打',
            '打点',
            '本塁打',
            '二塁打',
            '三塁打',
            '四球',
            '死球',
            '三振',
            '盗塁',
            '犠打',
            '併殺打',
            '出塁率',
            '長打率',
            'OPS',
            '年数',
            '年齢'
          ],
          gridData: data1,
          tasks: [
            'task1',
            'task2',
            'task3',
            'task4',
          ]
        }
      })
    </script>
    
    </html>